<?xml version="1.0"?>
<launch>

  <!-- For using the turtle bot -->
  <arg name="run_on_real_car" default="true"/>

  <!-- Arguments -->
  <arg name="open_rviz" default="true"/>
  <arg name="record" default="false"/>
  <arg name="model" default="waffle"/>
  <arg name="time_now" value="`date +'%Y-%m-%d-%H-%M-%S'`" />

  <!-- Map  -->
  <!-- <arg name="map_file" default="$(find turtlebot3_custom)/maps/lab_06102022.yaml"/> -->
  <arg name="map_file" default="$(find turtlebot3_custom)/maps/irobo_map.yaml"/>
  <!-- <arg name="map_file" default="$(find turtlebot3_custom)/maps/turtle_gmap_28092022.yaml"/> -->

  <!-- Arguments: Move Base -->
  <arg name="cmd_vel_topic" default="/cmd_vel" />
  <arg name="odom_topic" default="odom" />
  <arg name="move_forward_only" default="false"/>

  <!-- Turtlebot3 -->
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
    <arg name="model" value="$(arg model)" />
  </include>

  <!-- Map Server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- Gazebo Simulator -->
  <group if="$(arg run_on_real_car)"> 
    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_irobo2.launch"/>
  </group>  

  <!-- Teleoperation -->
  <!-- <include file="$(find turtlebot3_teleop)/launch/turtlebot3_teleop_key.launch"/> -->

  <!-- AMCL -->
  <node pkg="amcl" type="amcl" name="amcl" >
    <rosparam command="load" file="$(find turtlebot3_custom)/params/amcl.yaml" />
  </node> 

  <!-- Planning -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="use_grid_path" value="true"/>
    <param name="use_dijkstra" value="true"/>
    <rosparam file="$(find turtlebot3_custom)/params/move_base_params.yaml" command="load" />
    <rosparam file="$(find turtlebot3_custom)/params/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find turtlebot3_custom)/params/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find turtlebot3_custom)/params/costmap_common_params_$(arg model).yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find turtlebot3_custom)/params/costmap_common_params_$(arg model).yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find turtlebot3_custom)/params/dwa_local_planner_params_$(arg model).yaml" command="load" />
    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
    <remap from="odom" to="$(arg odom_topic)"/>
  </node>

  <include file="$(find turtlebot3_send_nav_goals)/launch/turtlebot3_send_nav_goals.launch"/>
  
  <!-- <node name="turtlebot3_cmd_smoother" pkg="turtlebot3_cmd_smoother" type="turtlebot3_cmd_smoother.py" output="screen"></node> -->

  <!-- <arg name="rviz_file" default="$(find turtlebot3_custom)/rviz/turlebot3_config_planner.rviz" /> -->
  <!-- <arg name="rviz_file" default="$(find turtlebot3_navigation)/rviz/turtlebot3_navigation.rviz" /> -->
  <arg name="rviz_file" default="$(find turtlebot3_custom)/rviz/turlebot3_config_planner_goals.rviz" />

  <!-- Rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(arg rviz_file)"/>
  </group>

   <node pkg="rosbag" type="record" name="record_cmd"
       args="record /cmd_vel -o $(find evaluation)/bags/vel.bag"
       if="$(arg record)" />

</launch>
