<?xml version="1.0"?>
<launch>

  <!-- For using the turtle bot -->
  <arg name="run_on_real_car" default="true"/>

  <!-- Arguments -->
  <arg name="open_rviz" default="true"/>
  <arg name="model" default="waffle_pi"/>

  <!-- Map  -->
  <!-- <arg name="map_file" default="$(find turtlebot3_custom)/maps/lab_06102022.yaml"/> -->
  <arg name="map_file" default="$(find turtlebot3_navigation)/maps/map.yaml"/>
  <!-- <arg name="map_file" default="$(find turtlebot3_custom)/maps/turtle_gmap_28092022.yaml"/> -->

  <!-- Arguments: Move Base -->
  <arg name="cmd_vel_topic" default="/cmd_vel" />
  <arg name="odom_topic" default="odom" />
  <arg name="move_forward_only" default="false"/>

  <!-- Turtlebot3 -->
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
    <arg name="model" value="$(arg model)" />
  </include>

  <!-- Map Server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- Gazebo Simulator -->
  <group if="$(arg run_on_real_car)"> 
    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_world.launch"/>
  </group>  

  <!-- Teleoperation -->
  <include file="$(find turtlebot3_teleop)/launch/turtlebot3_teleop_key.launch"/>

  <!-- AMCL -->
  <node pkg="amcl" type="amcl" name="amcl" >
    <rosparam command="load" file="$(find turtlebot3_custom)/params/amcl.yaml" />
  </node> 

  <!-- <include file="$(find turtlebot3_send_nav_goals)/launch/turtlebot3_send_nav_goals.launch"/> -->
  
  <node pkg="waypoint_global_planner" type="waypoint_global_planner_node" name="waypoint_global_planner" />

  <!-- <arg name="rviz_file" default="$(find turtlebot3_custom)/rviz/turlebot3_config_planner.rviz" /> -->
  <!-- <arg name="rviz_file" default="$(find turtlebot3_navigation)/rviz/turtlebot3_navigation.rviz" /> -->
  <arg name="rviz_file" default="$(find turtlebot3_custom)/rviz/turlebot3_config_planner_goals.rviz" />

  <!-- Rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(arg rviz_file)"/>
  </group>

</launch>